mixin navbar(user)
    .container-fluid.p-0
      nav.navbar.navbar-expand-lg.bg-light.navbar-light.py-3.py-lg-0.px-lg-5
        a.navbar-brand.ml-lg-3(href="/")
          h3.m-0.display-5.text-uppercase.text-primary
            i.fa.fa-truck.mr-2
            | Compra Fácil
          .navbar-nav.m-auto.py-0
            a.nav-item.nav-link(href="/") Inicio
            a.nav-item.nav-link(href="/products") Productos
            a.nav-item.nav-link(href="/aboutUs") Sobre Nosotros
            a.nav-item.nav-link(href="/contact") Contacto
            if user
              a.nav-item.nav-link(href="/logOut") Cerrar Sesión
              if (user.isAdmin == "true")
                a.nav-item.nav-link.active(href="/admin") Admin
          if user  
            a.btn.btn-primary.py-2.px-4.d-none.d-lg-block(href="/cart" id="carrito") Carrito
    // Topbar Start
    .container-fluid.bg-dark
      .row.py-2.px-lg-5
        .col-lg-6.text-center.text-lg-left.mb-2.mb-lg-0
          .d-inline-flex.align-items-center.text-white
            small
              i.fa.fa-phone-alt.mr-2
              | +012 345 6789
            small.px-3 |
            small
              i.fa.fa-envelope.mr-2
              | ModernelKevin@gmail.com
        .col-lg-6.text-center.text-lg-right
          .d-inline-flex.align-items-center
            a.text-white.px-2(href="")
              i.fab.fa-facebook-f
            a.text-white.px-2(href="")
              i.fab.fa-twitter
            a.text-white.px-2(href="")
              i.fab.fa-linkedin-in
            a.text-white.px-2(href="")
              i.fab.fa-instagram
            a.text-white.pl-2(href="")
              i.fab.fa-youtube
    // Topbar End