doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Safe &amp; Faster
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
              if (!user)
                form(action='/login', method='POST')
                                div.form-group
                                    label.formGroupExampleInput Email:
                                    input(type="email", placeholder="Please enter your email", required=true, name='email', value='').form-control
                                    label.formGroupExampleInput Password:
                                    input(type="password", placeholder="New Password", required=true, name='password', value='').form-control
                                    button.mt-3.btn.btn-primary(type='submit') Log In
                                    if (retryLogIn)
                                      p.small.text-danger Email or password incorrect.
                                    p.mt-2.mb-0
                                       | Olvidó su contraseña? #[a(href='') Reiniciar]
                                    p.mt-2.mb-0
                                       | Aún no está registrado? #[a(href='/signup') Registrarse]
    // Header End
    // About Start
    .container-fluid.py-5
      .container
        .row.align-items-center
          .col-lg-5.pb-4.pb-lg-0
            img.img-fluid.w-100(src="img/about.jpg", alt="")
            .bg-primary.text-dark.text-center.p-4
              h3.m-0 25+ Years Experience
          .col-lg-7
            h6.text-primary.text-uppercase.font-weight-bold About Us
            h1.mb-4 Trusted &amp; Faster Logistic Service Provider
            p.mb-4 Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo
            .d-flex.align-items-center.pt-2
              button.btn-play(type="button", data-toggle="modal", data-src="https://www.youtube.com/embed/DWRcNpR6Kdc", data-target="#videoModal")
                span
              h5.font-weight-bold.m-0.ml-4 Play Video
      // Video Modal
      #videoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-body
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &amp;times;
              // 16:9 aspect ratio
              .embed-responsive.embed-responsive-16by9
                iframe#video.embed-responsive-item(src="", allowscriptaccess="always", allow="autoplay")
    // About End
    include common/footer.pug
    +footer()