doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        if (!user)
          h1.text-primary.mb-4 Inicia Sesión o Registrate!
          .mx-auto(style="width: 100%; max-width: 600px;")
            .input-group
              .container.text-center
                form(action='/login', method='POST')
                                div.form-group
                                    label.formGroupExampleInput Email:
                                    input(type="email", placeholder="Please enter your email", required=true, name='email', value='').form-control
                                    label.formGroupExampleInput Password:
                                    input(type="password", placeholder="New Password", required=true, name='password', value='').form-control
                                    button.mt-3.btn.btn-primary(type='submit') Log In
                                    if (retryLogIn)
                                      p.small.text-danger Email or password incorrect.
                                    p.mt-2.mb-0
                                       | Aún no está registrado? #[a(href='/signup') Registrarse]
        if (user)
          h1.text-primary.mb-4 Bienvenido #{user.name} !
          h3.text-primary.mb-4 Ingresa a ver nuestros productos haciendo #[a(href='/products') click aqui]

    // Header End
    include common/footer.pug
    +footer()