doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Critical
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
    // Header End
    // Bootstrap table Start
    table.table.table-striped
      thead
        tr
          th(scope="col") Producto
          th(scope="col") Stock Actual
          th(scope="col") Reponer Stock
        
      tbody
        each product in products
          tr
            th(scope="row") #{product.name}
            td #{product.quantity}
            td
              form(action=`/admin/restock/${product._id}`, method='POST')
                .row
                  .col
                    input(type="text", name="restock", placeholder="Cantidad a reponer", value='').form-control
                    input(type="hidden", name="adress", value='restock').form-control
                  .col
                    button.btn-outline-primary.btn-sm(type='submit') Reponer


    // Bootstrap table End
        

    include common/footer.pug
    +footer()